.comment-list {
  margin: 0 auto;
  width: 700px;
  color: #fff;
  a {
    padding-left: 5px;
    color: $lightBlue;
    font-size: 20px;
  }

  .ant-comment {
    padding: 10px;
    border-radius: 14px;
    margin: 5px 0;
    background-color: rgba(0, 0, 0, 0.2);
    p {
      padding: 10px;
    }
  }
  .ant-list-header {
    font-size: 20px;
    text-align: center;
  }
}